body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: white;
  color:black;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.site-header {
  background: black;
  color: white;
  padding: 15px 0;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo span {
  color: red; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  margin-left: 20px;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
  color: red;
}

.main-nav ul.active {
    display: flex;
}

.contact-footer {
  background: black;
  color: white;
  padding: 40px 20px 20px;
  margin-top: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-info h3,
.contact-form h3 {
  margin-bottom: 15px;
  color:white;
}

.contact-info p {
  margin-bottom: 8px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 12px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: red;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: lightgray;
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .main-nav ul {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    padding: 15px;
    border-radius: 6px;
  }
}
